Library
Logs
Packages/manifest.json
Packages/packages-lock.json
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-5d0648e42a92d0c47ab8310ada153bd5
Temp/FSTimeGet-5d4888fd3561d8b4a99bccbb2f09553e
Temp/FSTimeGet-67f9c6fdbcddaab49bc2bcaa0495b485
Temp/UnityLockfile
Temp/workerlic
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2021.dwlt
